.card {
  background-color: #fff;
  color: #000;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 540px) {
  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .card:last-child {
    margin-bottom: 0;
  }
}
