.popup__close-button {
  background-image: url(../../../images/button_close.svg);
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
  background-size: 30px 30px;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: -34px;
    right: 0;
  }
}
