.button_type_edit {
  background-image: url(../../../images/button_edit.svg);
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
}

@media screen and (max-width: 370px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}
