.content {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 0;
}

@media screen and (max-width: 910px) {
  .content {
    max-width: 100%;
    padding-right: 19px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 370px) {
  .content {
    padding-top: 42px;
  }
}
